@font-face {
	font-family: 'Inter';
	src: url('Inter-Medium.eot');
	src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
		url('Inter-Medium.woff2') format('woff2'),
		url('Inter-Medium.woff') format('woff'),
		url('Inter-Medium.ttf') format('truetype'),
		url('Inter-Medium.svg#Inter-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Regular.eot');
	src: url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
		url('Inter-Regular.woff2') format('woff2'),
		url('Inter-Regular.woff') format('woff'),
		url('Inter-Regular.ttf') format('truetype'),
		url('Inter-Regular.svg#Inter-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Light.eot');
	src: url('Inter-Light.eot?#iefix') format('embedded-opentype'),
		url('Inter-Light.woff2') format('woff2'),
		url('Inter-Light.woff') format('woff'),
		url('Inter-Light.ttf') format('truetype'),
		url('Inter-Light.svg#Inter-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-SemiBold.eot');
	src: url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Inter-SemiBold.woff2') format('woff2'),
		url('Inter-SemiBold.woff') format('woff'),
		url('Inter-SemiBold.ttf') format('truetype'),
		url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Black.eot');
	src: url('Inter-Black.eot?#iefix') format('embedded-opentype'),
		url('Inter-Black.woff2') format('woff2'),
		url('Inter-Black.woff') format('woff'),
		url('Inter-Black.ttf') format('truetype'),
		url('Inter-Black.svg#Inter-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Thin.eot');
	src: url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
		url('Inter-Thin.woff2') format('woff2'),
		url('Inter-Thin.woff') format('woff'),
		url('Inter-Thin.ttf') format('truetype'),
		url('Inter-Thin.svg#Inter-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Bold.eot');
	src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
		url('Inter-Bold.woff2') format('woff2'),
		url('Inter-Bold.woff') format('woff'),
		url('Inter-Bold.ttf') format('truetype'),
		url('Inter-Bold.svg#Inter-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-ExtraBold.eot');
	src: url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Inter-ExtraBold.woff2') format('woff2'),
		url('Inter-ExtraBold.woff') format('woff'),
		url('Inter-ExtraBold.ttf') format('truetype'),
		url('Inter-ExtraBold.svg#Inter-ExtraBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-ExtraLight.eot');
	src: url('Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Inter-ExtraLight.woff2') format('woff2'),
		url('Inter-ExtraLight.woff') format('woff'),
		url('Inter-ExtraLight.ttf') format('truetype'),
		url('Inter-ExtraLight.svg#Inter-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
